{% extends "_base/function.html.jinja" %}

{% block source scoped %}
  {% if config.show_source and function.source %}
    {% set filepath = function.relative_package_filepath if function.relative_filepath.is_absolute() else function.relative_filepath %}
    {% set start = function.lineno or 1 %}
    {% set end = function.endlineno or start %}
    <p class="doc-source-link">
      <a href="https://github.com/__GITHUB_USERNAME__/__GITHUB_REPO_NAME__/blob/main/{{ filepath }}#L{{ start }}-L{{ end }}" target="_blank" rel="noopener">
        View source on GitHub: <code>{{ filepath }}</code> lines {{ start }}-{{ end }}
      </a>
    </p>
  {% endif %}
{% endblock source %}